@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);

$paragraph: hsla(0, 0%, 100%, 0.75);
$bg-heading-btn: hsl(0, 0%, 95%);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: $bg-heading-btn;
    background: $bg-heading-btn;
    font-size: .7rem;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
}

$border-radius: .3em;

main {
    display: flex;
    flex-direction: column;

    .card {
        padding: 2.5em 3em;
        width: 15em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        img {
            width: 25%;
        }

        h1 {
            font-family: 'Big Shoulders Display', cursive;
            text-transform: uppercase;
            font-size: 2.5em;
        }

        p {
            color: $paragraph;
            line-height: 1.7em;
        }

        button {
            font-family: 'Lexend Deca', sans-serif;
            background: $bg-heading-btn;
            width: 65%;
            font-size: 1.1em;
            padding: .9em 1em;
            border-radius: 2em;
            border: .2em solid $bg-heading-btn;

            &:hover {
                cursor: pointer;
                color: $bg-heading-btn;
                background: transparent;
            }
        }
    }

    .sedans {
        background: $orange;
        border-radius: $border-radius $border-radius 0 0;

        button {
            color: $orange;
        }
    }

    .suvs {
        background: $cyan;

        button {
            color: $cyan;
        }
    }

    .luxury {
        background: $dark-cyan;
        border-radius: 0 0 $border-radius $border-radius;

        button {
            color: $dark-cyan;
        }
    }
}

footer {
    font-size: .7em;
    text-align: center;
    color: black;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media only screen and (min-width: 750px) {
    body {
        justify-content: center;
    }

    main {
        flex-direction: row;

        .sedans {
            border-radius: $border-radius 0 0 $border-radius;
        }

        .luxury {
            border-radius: 0 $border-radius $border-radius 0;
        }

        button {
            margin-top: 3em;
        }
    }
}